<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CiMol Project</title>
  <link  rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <%- include('../partials/header') %>
  <section>
    <% if (name) { %>
      <h1>Hi, <%=name%></h1>
    <% } %>
    <h1>Welcome to CiMol Project!</h1>
    <% if (sessionRole != 'washer') { %>
      <h2>Our Services</h2>
      <form action="/transaction" method="POST">
        <!-- <div id="services">
          <div class="box">
            <p>Car Wash</p>
            <p>Cost: Rp 10000</p>
            <p>Estimate: 30 menit</p>
            <div class="check"><input type="checkbox" name="order" value="id">Order</div>
          </div>
          <div class="box">
            <p>Car Wash</p>
            <p>Cost: Rp 10000</p>
            <p>Estimate: 30 menit</p>
            <div class="check"><input type="checkbox" name="order" value="id">Order</div>
          </div>
          <div class="box">
            <p>Car Wash</p>
            <p>Cost: Rp 10000</p>
            <p>Estimate: 30 menit</p>
            <div class="check"><input type="checkbox" name="order" value="id">Order</div>
          </div> -->
          <% data.forEach(element => { %>
            <div class="box">
              <p> <%= element.name %> </p>
              <p> <%= element.cost %> </p>
              <p> <%= element.estimate %> </p>
              <div class="check"><input type="checkbox" name="order" value="<%=element.id%>">Order</div>
            </div>
          <% }) %>
        </div>
        <label for="location">Location</label><br>
        <input type="text" name="location"><br>
        <button type="submit">Done</button>
      </form>
    <% } %>
  </section>
  <%- include('../partials/footer') %>
</body>
</html>